<footer class="site-footer">

  <div class="wrapper">
    {% if site.instagram_clientid %}
        <p class="instafollow">For more 🚴 🗽 stories, follow <a href="https://instagram.com/{{ site.instagram_username }}">@{{ site.instagram_username }}</a> on Instagram.</p>
        <ul id="instafeed" data-instagram_clientid="{{ site.instagram_clientid }}"
                           data-instagram_userid="{{ site.instagram_userid }}"
                           data-instagram_accesstoken="{{ site.instagram_accesstoken }}"><!-- --></ul>
   {% endif %}
   <p class="legal">&copy; 2017 Matt Story Consulting, LLC | <a href="{{ "assets/privacy.txt" | relative_url }}">Privacy</a></p>
  </div>
  <!-- TODO: CCC Logo -->

</footer>
