<footer class="site-footer">

  <div class="wrapper">
    {% if site.instagram_clientid %}
        <p class="instafollow">For more 🚴 🗽 stories, follow <a href="https://instagram.com/{{ site.instagram_username }}">@{{ site.instagram_username }}</a> on Instagram.</p>
        <ul id="instafeed" data-instagram_clientid="{{ site.instagram_clientid }}"
                           data-instagram_userid="{{ site.instagram_userid }}"
                           data-instagram_accesstoken="{{ site.instagram_accesstoken }}"><!-- --></ul>
   {% endif %}
   <p class="legal">This site will never use ads or sell your info. Support the site by purchasing through our affilate links.</p>
   <p class="legal">&copy; 2017 Matt Story Consulting, LLC | <a href="{{ "assets/privacy.txt" | relative_url }}">Privacy</a> | <a href="https://github.com/matthewstory/mattrideshis.bike/" target="_blank">Source</a></p>
   <p class="legal"><a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></p>
   <p class="legal">🙏🙏🙏</p>
  </div>
  <!-- TODO: CCC Logo -->

</footer>
