/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  background-color: rgba(236, 239, 243, .7);

  // Positioning context for the mobile navigation icon
  position: fixed;
  top: 0px;
  z-index: 2000;
  width: 100%;

  &.pink-top { border-top-color: $pink-color; }
  &.orange-top { border-top-color: $orange-color; }
  &.blue-top { border-top-color: $blue-color; }
  &.navy-top { border-top-color: $navy-color; }

  &.pink-bottom { border-bottom-color: $pink-color; }
  &.orange-bottom { border-bottom-color: $orange-color; }
  &.blue-bottom { border-bottom-color: $blue-color; }
  &.navy-bottom { border-bottom-color: $navy-color; }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  img {
    margin: .3em 0px;
	vertical-align: bottom;
    @include media-query($on-palm) {
      display: none;
    }

    &.narrow {
      margin: .12em 0px;
      display: none;

      @include media-query($on-palm) {
		display: inline;
		vertical-align: middle;
      }
    }
  }
}

.site-nav {
  display: inline;
  z-index: 1000;

  .trigger {
    display: inline;
  }

  .nav-trigger, label[for=nav-trigger] {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .social {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px 30px 0px 0px;
  }

  .social a:hover {
    text-decoration: none;
  }


  .page-link, .search input, .search label {
    color: $grey-color-dark;
    line-height: 1em;
	font-size: .8em;
  }

  .search input {
    background-color: transparent;
    margin-bottom: 5px;
  }

  .page-link, .social {
	display: inline;

    // Gaps between nav items, but not on the last one
    margin-left: 15px;

  }
  .social label {
    display: none;
  }

  .social form label {
    display: inline;
  }


  form.search { display: inline; }

  .nav-search {
	border: none;
	border-bottom: 1px solid $grey-color-dark;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;

	.menu-icon {
		text-align: center;
	}

    label[for="nav-trigger"] {
      display: block;
      float: right;
      z-index: 2;
      cursor: pointer;
	  line-height: 45px;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;

      > svg path {
        fill: $grey-color-dark;
      }

    }

	.social {
	  position: static;
	  display: block;
	  margin-left: 0px;
    }

	.social label {
      display: inline;
      cursor: pointer;
    }

	.social a {
		display: block;
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
      background-color: rgba(236, 239, 243, .7);
    }

    .page-link, .social a, .trigger form {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }

	.social a {
		&, &:hover, &:visited {
		  font-size: .8em;
		  color: $grey-color-dark;
		}
	}
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 5px 0px 0px 0px;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    position: relative;
    margin-bottom: $spacing-unit / 2;
  }
}

.post-meta {
  font-size: $small-font-size;
  line-height: $small-font-size;
  color: $pink-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-image {
    &.hero {
        width: 100%;

        &.narrow { display: none; }

        @include media-query($on-palm) {
            display: none;

            &.narrow { display: inline; }
        }
    }
}

.post-item figure, .post-header figure {
    max-height: 600px;
    min-height: 100px;
    overflow: hidden;
    margin-bottom: 0px;
}


.post-title {
    @include relative-font-size(2);
    letter-spacing: -1px;
    line-height: 1;

    position: absolute;
    bottom: $spacing-unit / 2;
    text-align: left;
    width: 100%;
    padding: $spacing-unit / 2 0px;
    background-color: rgba(66, 66, 66, .4);

    h2, .post-meta {
        padding: 0px $spacing-unit / 2 0px;
    }

    h2 {
        color: $white-color;
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 0px;
        display: block;

        @include media-query($on-palm) {
          font-size: .7em;
        }
    }

    .post-meta {
        padding-top: .2em;
        margin-top: 0px;
        display: block;
    }
}


/**
 * Posts
 */
.post-header {
  position: relative;
  margin-bottom: $spacing-unit;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
