---
layout: post
# you can generate a tech spec table with an entry like this:
#
# rating: 1
# specifications:
# - type: Crankset
#   part: SRAM Force 1X
#   link: amazon.com
#   review:
#   - category: Overall
#     rating: 1
#   - category: Coolness
#     rating: 5
---
{% if page.specifications %}
<dl class="technical_specifications">
    {% for spec in page.specifications %}
        <dt>{{ spec.type }}</dt>
        <dd>
            {% if spec.link %}<a target="_blank" href="{{ spec.link }}">{{ spec.part }}</a>{% else %}spec.part{% endif %}
        </dd>
        {% if spec.review or page.rating %}
            <dt class="review">Review</dt>
            <dd class="review">
                <dl>
                  {% if page.rating %}
                    <dt>Overall</dt>
                    {% assign rating = page.rating %}
                    <dd>{% include rating.html %}</dd>
                  {% endif %}
                  {% for review in spec.review %}
                    <dt>{{ review.category }}</dt>
                    {% assign rating = review.rating %}
                    <dd>{% include rating.html %}</dd>
                  {% endfor %}
                </dl>
            </dd>
        {% endif %}
    {% endfor %}
</dl>
{% endif %}

{{ content }}
